/* Documentations page */
.main_title {
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 157.69%;
  /* or 47px */
  margin-bottom: 0;
  color: #ffffff;
}
.subtitle,
.doc_link {
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}
.subtitle {
  line-height: 150%;
}
.doc_link {
  color: #ff9900;
  border-bottom: 1px dashed #ff9900;
  cursor: pointer;
}
.blue_text {
  color: #83cdec;
  line-height: 200%;
}
.red_text {
  color: #ff6f6f;
  line-height: 200%;
}
.green_text {
  color: #4eaa68;
  line-height: 200%;
}
.step {
  margin-bottom: 80px;
}
.list_item {
  color: #ff9900;
}
/* Rates page */
.rates_list_item {
  color: #fff;
  margin-top: 10px;
}
.rates_list_item::marker {
  color: #505050;
}
