body {
  background-color: #18191d !important;
}
::-webkit-scrollbar {
  width: 6px;
  height: 18px;
  background: #c4c4c4;
  border-radius: 35px;
}
::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-radius: 34px;
}
.flex_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p_1 {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  max-width: 105px;
}
.nav_link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.nav_link:hover {
  color: #ff9900;
}
.active {
  color: #ff9900 !important;
}
.body_3 {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
.bg_image,
.bg2_image,
.bg3_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.bg_image {
  background-image: url("./assets/main-bg1.webp");
}
.bg2_image {
  background-image: url("./assets/app-bg1.webp");
}
.bg3_image {
  background-image: url("./assets/app-bg2.webp");
}
.position_center {
  margin-left: 50%;
  transform: translateX(-50%);
}
.menu_text {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.circle_button {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.circle_button:hover {
  transform: scale(1.1);
}
.notebook {
  width: 100%;
}
.main_bitcoin,
.bitcoin {
  position: absolute;
}
.main_bitcoin {
  top: -210px;
  left: -50px;
  z-index: -1;
}
.bitcoin1 {
  left: 0;
  bottom: 60px;
}
.bitcoin2 {
  left: 35%;
  bottom: 160px;
}
.bitcoin3 {
  top: 42%;
  right: 1%;
}
.chart {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #2a2b31;
  box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 100px;
}
#legend-container {
  display: flex;
  justify-content: center;
}
.legend_items_container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.legend_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.legend_item_box {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}
.legend_item_text {
  color: #fff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 157.69%;
  padding: 0;
  margin: 0;
}
.tooltip_container {
  color: #b3b3b3;
  background-color: #53555f;
  border-radius: 4px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0);
  transition: all 0.1s ease;
}
.tooltip_table {
  margin: 0;
}
.tooltip_text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 157.69%;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 960px) {
  .p_1 {
    font-size: 10px;
  }
  .bg2_image {
    background-position: right;
  }
}
@media (max-width: 600px) {
  .main_bitcoin {
    width: 300px;
    top: -100px;
  }
  .bitcoin {
    width: 60px;
  }
}
